.teammember-container {
    display: flex;
    align-items: center;
    justify-content: center;
    @include grid-container;
    @include omega(2);
    margin-bottom: 70px;
    @include media-mobile-and-tablet {
        flex-direction: column;
    }
}

.teammember-picture {
    @include grid-column(6);

    .teammember-picture__img {
        border-radius: 50%;
        border: 5px solid #000;
    }

    @include media-desktop {
        @include grid-column(3);
    }
}

.teammember-info {
    @include grid-column(12);
    text-align: center;

    @include media-desktop {
        @include grid-column(9);
        @include omega(2);
        padding-left: 5%;
        text-align: left;
    }
}
