/* Development stuff */

$dev-enable-grid-background: false !default;

/* Colours */
$color-white: #FFF;
$color-black: #000;
$dark-background: #2a2829;
$color-dark-blue: #253551;
$color-light-brown: #DFE0DA;

/* Units and typography */
$base-font-size: 17px;
$base-font-face: ('sans-serif', 'Arial');

/* Misc variables that are used in multiple contexts */
$border-radius: 5px;
$vertical-spacing: 20px;

/* Grid settings */
$grid-column-count: 12;
$grid-colum-to-gutter-ratio-column: 4;
$grid-colum-to-gutter-ratio-gutter: 1;
