@import "stylesheets/variables";
@import "stylesheets/functions";
@import "stylesheets/mixins";

@import "stylesheets/base";
@import "stylesheets/layout";


@import "stylesheets/pages/home.scss";

@import "stylesheets/components/header.scss";

body {
  margin: 0;
}

.main-page-header {
  text-align: center;
  font-size: 30px;
  padding: 20px;

  @include media-desktop {
    font-size: 40px;
  }
}